body {
    font-family: roboto, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header, .footer {
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
}

.footer {
    justify-content: center;
}

.left-side {
    font-size: 24px;
    padding: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    justify-content: space-around;
}

.section1, .section2, .section3, .section4 {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.section1 {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    gap: 8px;
}

.section2, .section4 {
    background-color: #F9FAF8;
    font-size: 36px;
    color: #1f2937;
    gap: 8px;
}

.section3 {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.cards {
    display: flex;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
    font-size: 18px;
}

.card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
    width: 200px;
}

.title {
    font-size: 48px;
    flex-direction: column;
    width: 420px;
    font-weight: bold;
}

.description {
    font-size: 18px;
    flex: 1;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    width: 420px;
    font-weight: normal;
}

button {
    cursor: url('./images/whalecursor.png'),pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background: #3882F6;
    border: 1px #3882F6;
    color: white;
}

.banner {
    display: flex;
    background-color:#3882F6;
    height: 100px;
    width: 700px;
    justify-content: space-around;
    align-items: center;
    color: #eee;
    font-style: none;
}
.banner button {
    border: 1px #eee;
}