body {
    font-family: roboto, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

a {
    text-decoration: inherit;
    color: inherit;;
}

.header, .footer {
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    align-items: center;
    padding: 16px;
    justify-content: space-around;
}

.footer {
    justify-content: center;
}

.left-side {
    font-size: 24px;
    padding: 0px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    justify-content: space-around;
}

.section1, .section2, .section3, .section4 {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.section1 {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    gap: 8px;
}

.section2, .section4 {
    gap: 8px;
    flex-direction: column;
}

.info {
    font-size: 24px;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 18px;
    color: #1F2937;
}

.section3 {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    flex-direction: column;
}

.author {
    font-size: 24px;
    margin-left:300px;
}

.cards {
    display: flex;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
    font-size: 18px;
}

.card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 5px;
    margin: 16px;
    max-width: 500px;
    transition:transform 0.25s ease;
    background: #1f2937;
    display: flex;
}

.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    -webkit-transform:scale(1.5); /* or some other value */
    transform:scale(1.5);
    transition-delay:.25s;
}

.title {
    flex-direction: column;
    font-weight: bold;
    font-size: 38px;
    font-weight: bold;
}

.description {
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0px;
    width: 100%;
    max-width: 420px;
}

button {
    cursor: url('./images/whalecursor.png'),pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background: #3882F6;
    border: 1px #3882F6;
    color: white;
}

button:hover {
    background: #005da3;
}

.banner-bottom {
    display: flex;
    background-color:#3882F6;
    height: 100px;
    width: 100%;
    max-height: 100%;
    max-width: 700px;
    justify-content: space-around;
    align-items: center;
    color: #eee;
    font-style: none;
    padding-right: 8px;
}

.section4 button {
    border: 1px #eee;
    background: #eee;
    border: 1px #3882F6;
    color: #3882F6;
}

.section4 button:hover {
    background: rgb(209, 209, 209);
}

.section2 img {
    max-width: 100%;
    height: auto;
}
.title2 {
    font-weight: bold;
    padding: 8px;
}

.title2, .description2 {
    font-size: 14px;
}

.description2 {
    font-weight: normal;
}